<script lang="ts">
  import type { Contact } from "../models/cv";
  import SimpleInfo from "./SimpleInfo.svelte";

  export let contact: Contact;
</script>

<SimpleInfo info="{contact.birth.date} in {contact.birth.place}" />
<SimpleInfo info="{contact.address.street}, {contact.address.city}" />
<SimpleInfo info={contact.phone} />
<SimpleInfo info={contact.mail} />
<SimpleInfo info={contact.linkedin} />
