<script lang="ts">
  import type { Education } from "../models/cv";
  import { toDateString } from "../utilities/formatter";
  import Li from "./Li.svelte";
  import Ul from "./Ul.svelte";

  export let education: Education[];
</script>

<Ul>
  {#each education.reverse() as edu}
    <Li
      title="{edu.title} {edu.subject ? edu.subject : ''}"
      duration="{toDateString(edu.duration.start)} - {toDateString(
        edu.duration.end
      )}"
      subtitle={edu.school}
    >
      {#if edu.gpa}
        <p class="gpa">
          GPA: {edu.gpa}
        </p>
      {/if}
      {#if edu.thesis}
        <p class="thesis">
          Thesis: {edu.thesis.subject} (Grade: {edu.thesis.grade})
        </p>
      {/if}
    </Li>
  {/each}
</Ul>

<style>
  p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
  }
</style>
