<script lang="ts">
  import type { Work } from "../models/cv";
  import { toDateString } from "../utilities/formatter";
  import Li from "./Li.svelte";
  import Ul from "./Ul.svelte";

  export let experience: Work[];
</script>

<Ul>
  {#each experience.reverse() as work}
    <Li
      title={work.title}
      duration="{toDateString(work.duration.start)} - {toDateString(
        work.duration.end
      )}"
      subtitle="{work.company.name}&nbsp;{work.position
        ? `(${work.position})`
        : ''}"
    >
      {#if work.company.description}
        <p class="description">{work.company.description}</p>
      {/if}
      <ul>
        {#each work?.projects ?? [] as project}
          <li>{project}</li>
        {/each}
      </ul>
    </Li>
  {/each}
</Ul>

<style>
  .description {
    margin-top: 0.2rem;
  }
  ul {
    padding-left: 1rem;
  }
  li {
    list-style: square;
  }
</style>
