<script lang="ts">
  export let title: string;
  export let subtitle: string;
  export let duration: string;
</script>

<li>
  <div class="header">
    <span class="title">{title}</span>
    <span class="duration">{duration}</span>
  </div>
  <div class="subheader">
    <h3 class="subtitle">{subtitle}</h3>
  </div>
  <slot />
</li>

<style>
  li {
    list-style: none;
    margin: 0.2rem 0px;
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .subheader {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .duration {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .subtitle {
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0;
  }
</style>
