<script lang="ts">
  export let title: string;
  export let rating: number;
  export let hint: string;
</script>

<div id="content">
  {title}
  <progress id="file" max="100" value={rating}> {rating}% </progress>
  <span>{hint}</span>
</div>

<style>
  /* For IE10 */
  progress {
    background-color: #f1d2a7;
  }

  progress::-moz-progress-bar {
    background-color: #de932b !important;
  }
  progress {
    border-color: transparent;
    border-width: 2px;
    border-radius: 100px;
    height: 5px;
  }
  div {
    display: flex;
    flex-direction: column;
    margin: 6px 0px;
  }
  span {
    align-self: flex-end;
  }
</style>
