<script lang="ts">
  import type { Cv } from "./models/cv";
  import SimpleInfo from "./components/SimpleInfo.svelte";
  import json from "./data/cv.json";
  import { toDateString } from "./utilities/formatter";
  import Experience from "./components/Experience.svelte";
  import Languages from "./components/Languages.svelte";
  import Contact from "./components/Contact.svelte";
  import Education from "./components/Education.svelte";
  import {
    addProjectDescriptionWeighs,
    getWeightedLanguages,
    getWeightedTechnologies,
  } from "./utilities/calculator";

  const cv: Cv = json;

  // const languages = getWeightedLanguages(cv);
  // const technologies = getWeightedTechnologies(cv);
  // const extendedLanguages = addProjectDescriptionWeighs(cv, languages);
  // const extendedTechnologies = addProjectDescriptionWeighs(cv, technologies);

  // console.log(
  //   Object.keys(extendedLanguages)
  //     .map((k) => `"${extendedLanguages[k]}";"${k}";"";""`)
  //     .join("crt")
  // );

  // console.log(
  //   Object.keys(extendedTechnologies)
  //     .map((k) => `"${extendedTechnologies[k]}";"${k}";"";""`)
  //     .join("crt")
  // );
</script>

<div class="page">
  <div class="menu">
    <h1 class="hello">👋</h1>

    <h3>Personal Info</h3>
    <Contact contact={cv.contact} />

    <h3>Skills</h3>
    <img src="./img/wordcloud_languages.png" alt="Skill Wordcloud" />

    <h3>Technologies</h3>
    <img src="./img/wordcloud_technologies.png" alt="Skill Wordcloud" />

    <h3>Languages</h3>
    <Languages languages={cv.language} />
  </div>
  <div class="content">
    <h1>{cv.contact.surname} {cv.contact.name}</h1>
    <h2>{cv.work[0]?.title}</h2>
    <p>{cv.summary}</p>

    <h1>Relevant Experience</h1>
    <Experience experience={cv.work} />

    <h1>Education</h1>
    <Education education={cv.education} />
  </div>
</div>

<div class="page">
  <div class="menu">
    <h1 class="hello">👋</h1>
    <h2>&nbsp;</h2>
    <h3>Personal Info</h3>
    <SimpleInfo info="{cv.contact.address.street}, {cv.contact.address.city}" />
    <SimpleInfo info={cv.contact.phone} />
    <SimpleInfo info={cv.contact.mail} />
    <SimpleInfo info={cv.contact.linkedin} />
  </div>
  <div class="content">
    <h1>{cv.contact.surname} {cv.contact.name}</h1>
    <h2>{cv.work[0]?.title}</h2>

    <h1>Social</h1>
    <ul>
      {#each cv.social.reverse() as social}
        <li>
          {toDateString(social.duration.start)} - {toDateString(
            social.duration.end
          )}
          {social.company}, {social.position}, {social.title}
        </li>
      {/each}
    </ul>
  </div>
</div>

<style>
  :global(html) {
    font-size: 11px;
  }
  :global(body) {
    color: #474747;
    padding: 0;
    max-width: 795px;
    background: lightgray;
  }
  .page {
    display: grid;
    overflow: hidden;
    grid-template-columns: 240px auto;
    grid-column-gap: 0px;
    max-width: 795px;
    clear: both;
    height: 100%;
    page-break-after: always;
  }
  .menu {
    background-color: #e9b872;
    padding: 15px;
    height: 100%;
  }
  .content {
    width: auto;
    height: 100%;
    padding: 15px;
    background-color: #fff;
  }

  .hello {
    text-align: center;
  }

  h1 {
    font-size: 1.8rem;
    margin-top: 2px;
  }
  h2 {
    font-size: 1.6rem;
    margin-top: 2px;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 1.6rem;
    margin: 6px -15px 0px -15px;
    padding: 6px 15px;
    background-color: #de932b;
  }
  img {
    padding: 12px 0px;
    width: 100%;
  }

  @media (max-width: 320px) {
  }
</style>
